# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [12]:
numberfloat = 4.5

print(numberfloat)

numberfloat= 7.2
print(numberfloat)

4.5
7.2

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 2
num2 = 5.4

result= num1 + num2
print(result)

#result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [15]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2 
print(result_mul)

10.8
21.6

##### Division

In [17]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9


##### Floor Division

In [18]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [19]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [16]:
square = 5**2
print(square)

square **= 2 
print(square)

25
625

### String Input-Output

##### String Assignment

In [1]:
name ="brandon"
print(name)

brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [2]:
print("this is my first name:", name)

print("full name: ", name, end=" apol")

this is my first name: brandon
full name:  brandon apol

##### String Concatenation

In [3]:
first_name = "john"
last_name = "smith"

full_name = first_name + " " + last_name
print(full_name)

# "" = space

john smith

In [4]:
full_name +=", jr"

print(full_name)

john smith, jr

##### Type Conversion

In [5]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [6]:
# input will always return a string 

name = input("what is your name  " )
print("nice to meet you, " + name)

age = int(input( "what is your age "))
add_age = age + 5
print(add_age)

what is your name  brandon
nice to meet you, brandon
what is your age 4
9

##### format()

In [9]:
age = input("what is your age ")

result_string = "you are {} {} and you are getting wiser ". format(age, name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

what is your age 13
you are 13 brandon and you are getting wiser
13 is a great time in life

##### Old Way (python 2)

In [10]:
result_string2 = "your are %s and you look great for your age!" %age
print(result_string2)

your are 13 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# "The car's color is blue, the year is 2019, make is Honda, and model is CR-V"

In [ ]:
color = input("What is your car's color?")
year = input("What is your car's year?")
make = input("What is your car's make?")
model = input("What is your car's model?")

print(f"The car's color is {color}, the year is {year}, make is {make}, and model is {model}")

### If Statements

In [19]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 40

#if num1 == num2:
    #print("equal")
#else:
   # print("not equal ")
    
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 greater")
else:
    print("equal values")

not equal
num2 is greater

##### 'is' keyword

In [ ]:
# the "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("this is the exact number/object")

##### 'in' keyword

In [20]:
# check if a character is in a string

char_name = "frodo baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [21]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [22]:
answer = input("What is your favorite fruit?")

if "p" in answer:
    print("p was in the answer")
    
if "p" not in answer:
    print("p was not in the answer")

What is your favorite fruit?apple
p was in the answer

## Using 'and'/'or' with If Statements

In [27]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with "and" statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")
    
# if with "or "statement
if num_13 > num_14 or num_11 == num_12:
    print("true and false")

true and true
true and false

### Elif Statements

In [30]:
first_name = input("what is your name")

if first_name == "smith":
    print("the name is smith")
elif first_name == "brandon":
    print("the name is brandon")
elif first_name != "max":
    print("the name is not max")
else:
    print("the name is max")

what is your namesmith
the name is smith

### Else Statements

In [ ]:
# see above

### For Loops

In [33]:
#syntax:
# for counter in condition

name = "brandon apol"
print(name)

for letter in name:
    print(letter)

brandon apol
b
r
a
n
d
o
n

a
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [37]:
for i in range(20):
    if i == 5:
         continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [38]:
for i in range(20):
    if i == 5:
         break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in range(1,11):
    pass
    # Eventually I want to write this code

##### Double For Loops

In [39]:
for i in range(5):
    for j in range (5):
        print("i= ", i, "j = ", j)

i=  0 j =  0
i=  0 j =  1
i=  0 j =  2
i=  0 j =  3
i=  0 j =  4
i=  1 j =  0
i=  1 j =  1
i=  1 j =  2
i=  1 j =  3
i=  1 j =  4
i=  2 j =  0
i=  2 j =  1
i=  2 j =  2
i=  2 j =  3
i=  2 j =  4
i=  3 j =  0
i=  3 j =  1
i=  3 j =  2
i=  3 j =  3
i=  3 j =  4
i=  4 j =  0
i=  4 j =  1
i=  4 j =  2
i=  4 j =  3
i=  4 j =  4

### While Loops

In [40]:
#syntax:
# while keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [41]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [43]:
num = 0 

while num< 5:
    print("\n while loop iteration:" + str(num))
    
    for i in range (3):
        print("for loop iteration:", str(i))
        
    num += 1

 while loop iteration:0
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2

 while loop iteration:1
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2

 while loop iteration:2
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2

 while loop iteration:3
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2

 while loop iteration:4
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2

### Built-In Functions

##### range()

In [45]:
# range(start, stop, step)
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [46]:
name = input("give me the name of your favorite book:")

length = len (name)
print(length)

give me the name of your favorite book:harry potter
12

##### help()

In [48]:
#use this functoin to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [4]:
#check a variable to find out what object family (or data type ) it belongs to
#isinstance(var, type)

num= 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [5]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [9]:
# use this to log out graceful and useful error messages
# does not stop the program 

try:
    number_test = 0 
    input_num = int(input("guess a number"))
    print("your number is " + input_num)
except:
    print("that didnt work change your input to a number")

guess a number5
that didnt work change your input to a number

### Lists

##### Declaring Lists

In [1]:
list_1 = []

names =["max", "cindy", "kath", "bob", "nate"]
print(names)

['max', 'cindy', 'kath', 'bob', 'nate']

##### Indexing a List

In [2]:
# list_name[ start: stop: step]
#single index
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

# print startting at index 1 going to the end 
print(names[1:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

max
['cindy', 'kath', 'bob', 'nate']
['cindy', 'kath', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kath', 'cindy', 'max']

##### .append()

In [60]:
names.append("brandon")
print(names)

['max', 'cindy', 'kath', 'bob', 'nate', 'brandon']

##### .insert()

In [61]:
names.insert(3,"devon")
print(names)

['max', 'cindy', 'kath', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [63]:
# default to the last value if no parameter is given 
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

devon
['max', 'cindy', 'bob', 'nate', 'brandon']


##### .remove()

In [65]:
#value to be removed rather than index
#names.remove("bob")

#print(names)

#remove multiple brandons from list
while"bob" in names:
    names.remove("brandon")
print(names)

['max', 'cindy', 'nate', 'brandon']

##### del()

In [67]:
#goes by index, rather than value
#be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'nate', 'brandon']

##### Concatenating Two Lists

In [1]:
#will append two lists together, will not add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [2]:
#lists can hold any type of other element including other lists
#they can go as deep as you want; this is called nested lists

names = ["max", "same", "josh",["sally", ["sue","jim"], "tameka"]]
print(names)
print(names[3][1][1])

['max', 'same', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [3]:
#two ways to loop through a list one is by index; the other is by using the'in' keyword

#by index
for i in range(len(names)):
    print(names[i])
    

for i in names:
    print(i)

max
same
josh
['sally', ['sue', 'jim'], 'tameka']
max
same
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [34]:
for i in range (1,11):
    i **=3
      
    print(i)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range (2,101,):
    for t in range (2,101):
        if i%t == 0:
            break
    if i == t:
        print(i,end=',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [51]:
age=input("what is your age ")
age_change = int(age)
if age_change < 18 :
    print("minor")
elif age_change >= 18 and age_change <= 65:
    print("adult")
else:
    print("senior")

what is your age 66
senior